GITHUB_TOKEN=x
GITHUB_WEBHOOK_SECRET=x
GITHUB_APP_ID=x
GITHUB_PRIVATE_KEY_PATH=app/config/github-private-key.pem
DATABASE_URL=postgresql://user:pass@localhost:5432/database

OPENROUTER_API_KEY=x
OPENROUTER_MODEL=model

GEMINI_API_KEY=x
GEMINI_MODEL=modelwha
